<header>
  <div class="container header-container">
    <div class="logo-sec">
      <figure class="logo"></figure>
    </div>
    <div class="head-user-info">
      <div class="head-info-wrap">
        <input type="text" value="" name="" placeholder="Search" class="search-box">
        <div class="search-icon"></div>
        <div class="settings-icon"></div>
        <div class="acc-info" (click)="showProfileList = !showProfileList;"> <span class="user-pic"></span>
          <div class="acc-name">Mitchell Mack</div>
          <div class="header-dropdown-menu" [ngClass]="{'d-block': showProfileList}">
            <ul>
              <div class="head-dropdown-menuIcon"></div>
              <li>Account Information</li>
              <li>Profile Information</li>
              <li>Change Password</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>