<aside class="left-nav" style="height: 1471px;">
  <div class="container">
    <nav>
      <div class="left-nav-title"> <span class="dashboard-icon"></span> Dashboard </div>
      <div class="left-nav-container">
        <div class="accordion" (click)="showAccordiion($event)"><span class="icon icon-segment"></span>Segment</div>
        <div class="panel" style="">
          <ul>
            <li class="demogrphic-icon">User Demographics</li>
            <li class="aud-seg-icon">Audience Segments</li>
          </ul>
        </div>
        <div class="accordion" (click)="showAccordiion($event)"><span class="icon icon-analysis"></span>Analytics</div>
        <div class="panel" style="">
          <ul>
            <li class="app-instal-icon">App installs</li>
            <li class="un-instal-con">Uninstalls</li>
            <li class="usage-icon">Usage </li>
            <li class="event-icon">Events </li>
            <li class="funel-icon">Funnels </li>
            <li class="play-icon">Screen playback</li>
            <li class="out-app-icon">Outside the app</li>
          </ul>
        </div>
        <div class="accordion" (click)="showAccordiion($event)"><span class="icon icon-engage"></span>Engage</div>
        <div class="panel">
          <ul>
            <li class="camp-icon">Campaign management</li>
            <li class="trans-icon">Transactional campaigns</li>
          </ul>
        </div>
        <div class="accordion" (click)="showAccordiion($event)"><span class="icon icon-my-apps"></span>My Apps</div>
        <div class="panel" style="">
          <ul>
            <li class="new-app-icon">Setup new app</li>
            <li class="chatbox-icon">Setup new chatbot</li>
            <li class="app-set-icon">App setting </li>
          </ul>
        </div>
        <div class="accordion" (click)="showAccordiion($event)"><span class="icon icon-advance"></span>Advanced</div>
        <div class="panel">
          <ul>
            <li class="setng-icon">Settings </li>
            <li class="doc-icon">Documentation </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</aside>